.app-header {
  background-color: var(--clr1);
  color: var(--secondary-clr1);
  padding: 1em;
  border: 1px solid var(--border-color)
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}