.app-header {
  height: 12vh;
  background-color: var(--clr1);
  color: var(--clr4);
  padding: 1em;
  margin-block-end: 1rem;
  border: 1px solid var(--border-color);
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}