.user-msg {
    position: fixed;
    bottom: 40px;
    left: 20px;

    width: 300px;
    background-color: #323232;
    color: var(--clr1);
    padding: 1rem;
    border-radius: 5px;
    transition: opacity 1s;
}

.success {
    background-color: #323232;
}

.error {
    background-color: #323232;
}