.add-note-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;

  position: relative;
  text-align: left;
  padding-inline: 1rem;
  width: 80vw;
  max-width: 600px;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

.types-wrapper>img {
  padding: 8px;
  cursor: pointer;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  opacity: 0.6;
}

.types-wrapper>img:hover {
  background-color: rgba(95, 99, 104, 0.157);
  opacity: 0.76;
}

.add-note-container input {
  color: var(--text-color);
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.add-note-container .tool-bar {
  grid-column: 1 / span 2;
}