.note-preview {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--text-color);
  transition: .2s ease-in;
}

.note-preview img {
  border-radius: 8px;
}

.note-preview .note-title {
  text-align: left;
  font-size: 1rem;
  padding: .5em;
}

.note-preview .note-txt {
  text-align: left;
  font-size: 1.125rem;
  padding: .5em;
}