.note-edit .modal {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 80vw;
  max-width: 650px;
  padding: 12px;
  border-radius: 10px;
  transition: all .3s;
  overflow: hidden;
  background-color: white;
}

.note-edit .editable-div {
  padding: 12px;
}

.note-edit .modal-overlay {
  display: block;
  opacity: 0.5;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: #000;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
}