.mail-index>aside.folder-list-container {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
}

.folder-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.folder-list li {
  color: white;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-inline-start: 3em; */
  opacity: 1.5;
}

.spam-icon {
  width: 20px;
}