.mail-preview:hover,
.mail-preview> :hover {
  cursor: pointer;
}

.starred .btns-container .star-icon {
  color: var(--mailclr3);
}

.read {
  background-color: var(--mailclr2);
}

.unread {
  background-color: var(--mailclr1);
}

.selected {
  background-color: var(--mailclr4);
}

.important .btns-container .important-icon {
  fill: var(--mailclr3);
  color: var(--mailclr3);
  opacity: 1;
}

.btns-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns-container * {
  opacity: 0.6;
  color: var(--mail-font-clr2);
}

.mail-preview {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  padding-inline: 1em;
  align-items: center;
}

.mail-from {
  justify-self: start;
  font-size: 1em;
  align-self: center;
}

.mail-body {
  grid-column: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.hidden-icons-container> {}

.hidden-icons-container,
.mail-timestamp {
  grid-column: 4;
  justify-self: end;
  padding-inline-end: 1em;
}

.icon,
.btn-remove .icon {
  width: 20px;
}

.star-icon {
  font-size: 1.5em;
}