.mail-edit {
  border-radius: 1em;
  /* padding: 1em; */
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  right: 5%;
  width: 30%;
  height: 60%;
  background-color: white;
}
.mail-form {
  position: relative;
}
.mail-edit div:not(.icon, .btns-container-mail) {
  border-bottom: 0.5px solid;
  padding-inline: 0.625em;
}

.mail-header {
  border-radius: 1em;
  background-color: rgb(242 242 242);
  display: flex;
  width: 100%;
}
.btns-container-mail {
  display: flex;
  background-color: inherit;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

.btns-container-mail .icon {
  padding: 0.3em;
}

.mail-edit h2 {
  width: 100%;
  padding: 0.5em;
}
.mail-subject-container,
.mail-to-container {
  display: flex;
  align-items: center;
  width: 100%;
}
textarea[name='mail-body'],
input[name='mail-subject-input'],
input[name='mail-to-input'] {
  outline: 0;
  border: 0;
  width: 100%;
}
.send-mail-btn {
  position: absolute;

  padding-block-start: 1em;
  bottom: -4em;
  left: 0;
  border-radius: 4em;
  background-color: rgb(11 87 208);
  color: white;
  /* padding: 1.5em; */
  border: 0;
  font-size: 1em;
  width: 40%;
  height: 10%;
  padding: 0;
  margin: 0;
}

.close-mail {
  cursor: pointer;
}
