.mail-details {
  padding-block: 1em;
  background-image: url(/assets/img/mailImg/bgcImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(76vh - 2rem);
  display: grid;
  grid-template-rows: 3em 1fr;
  row-gap: 1.25em;
  column-gap: 1.25em;
  grid-template-columns: 1.6rem 0.5fr 1fr 0.25fr 1.6rem;
}

.mail-details a {
  grid-column: 2;
}

.mail-details .mail-filter {
  grid-row: 1;
  grid-column: 3/5;
}

.mail-container {
  padding-block: 1em;
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-column: 3/5;
  grid-row: 2/4;
  background-color: rgb(235 235 235);
}

.mail-container * {
  grid-column: 2;
}

.details-mail-subject {
  font-weight: 100;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.details-mail-folder {
  font-size: 0.4em;
  background-color: rgb(184, 177, 177);
  padding: 0.3em;

  border-radius: 0.6em;
}
.details-mail-from {
  font-weight: 700;
}
