.mail-filter {
  display: flex;
  align-items: start;
  justify-content: center;
  max-height: 2em;
  grid-row: 2;
  grid-column: 3/5;
}

.mail-filter input {
  width: 100%;
  padding: 1.5em;
  border-radius: 1em;
  border: 0;
}
