aside.mail-folder-list {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
}

.folder-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.folder-list li {
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding-inline-start: 3em;
  opacity: 1.5;
}

.inside-folder-item-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

div.inside-folder-item-container {
  color: white;
}

.spam-icon {
  width: 20px;
}
