aside.mail-folder-list {
  top: 20em;
  position: fixed;
  grid-column: 2;
  grid-row: 3;
  width: 30%;
  min-height: 50%;
}

.folder-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.folder-list li :not(:first-of-type) {
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline-start: 2em;
  opacity: 1.5;
}

.folder-list li:first-of-type {
  font-size: 1em;
  display: flex;
}

div.inside-folder-item-container {
  text-align: left;
  color: white;
  width: 50%;
  display: flex;
}

div.inside-folder-item-container > * {
  margin-inline-start: 1em;
}

.spam-icon {
  width: 20px;
}

.folder-list .inside-folder-item-container .star-inside-folder-list {
  color: white;
  font-size: 1.2em;
  display: inline-block;
}
div.important-icon-container {
  align-self: center;
  display: inline-block;
  text-align: center;
  padding-block: 0;
}
.important-icon {
  width: 100%;
  fill: white;
}
.sent-icon {
  color: white;
}
span.unread-mails-count {
  width: 5em;
  color: white;
  margin: 0;
  padding: 0;
  justify-self: start;
  text-align: center;
}
