.mail-list ul {
  width: 100%;
  padding: 10px;
  list-style-type: none;
  background-color: var(--mailclr1);
  border-radius: 3%;
  grid-row: 2;
}

.mail-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 0.2px solid rgb(139, 131, 131);
}

.folder-list-container {
  grid-column: 1;
  justify-self: center;
  grid-row: 2;
}
