.mail-details {
  padding-block: 1em;
  background-image: url(/assets/img/mailImg/bgcImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(76vh - 2rem);
  display: grid;
  grid-template-rows: 3em 1fr;
  row-gap: 1.25em;
  column-gap: 1.25em;
  grid-template-columns: 1.6rem 0.5fr 1fr 0.25fr 1.6rem;
}

.mail-details a {
  grid-column: 2;
}

.mail-details .mail-filter {
  grid-row: 1;
  grid-column: 3/5;
}

.mail-container {
  grid-column: 3/5;
  grid-row: 2;
}
