.mail-list ul {
  width: 100%;
  padding: 10px;
  list-style-type: none;
  background-color: var(--mailclr1);
  border-radius: 3%;
  grid-row: 2;
}

.mail-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 10px;
  border-bottom: 0.2px solid rgb(139, 131, 131);
  cursor: pointer;
}

.mail-item .btns-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.folder-list-container {
  grid-column: 1;
  justify-self: center;
  grid-row: 2;
}
