:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(96, 96, 96);
  --clr5: rgb(0, 0, 0);

  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

  /* Mail */
  --mailclr1: rgb(226, 238, 255);
  --mailclr2: rgb(194, 219, 255);
  --mailclr3: rgb(247, 202, 77);
  --mailclr4: rgb(194, 219, 255);

  /* Note: */
  --border-color: #e0e0e0;
}
