* {
  box-sizing: border-box;
  font-family: 'Google-sans';
}

html {}

body {
  margin: 0;
  height: 100vh;
  color: var(--clr4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  outline: none;
}

.done {
  text-decoration: line-through;
}


/* Dont stretch my Media */
img,
embed,
video,
iframe,
object {
  max-width: 100%;
}

iframe {
  border: none;
  border-radius: 8px;
}


/* tap targets: */
nav a,
button {
  min-width: 48px;
  min-height: 48px;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}